LibAppHost/LibAppHost/Connected Services/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/LibrarySystemService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LibrarySystemService" />
  <xs:element name="GetBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LibrarySystemService" minOccurs="0" name="GetBooksResult" nillable="true" type="q1:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LibrarySystemService" minOccurs="0" name="GetBookResult" nillable="true" type="q2:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LibrarySystemService" minOccurs="0" name="GetBookByNameResult" nillable="true" type="q3:ArrayOfBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="price" type="xs:int" />
        <xs:element minOccurs="0" name="ISBN" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LibrarySystemService" minOccurs="0" name="uc" nillable="true" type="q4:StudentBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LibrarySystemService" minOccurs="0" name="GetStudentBooksResult" nillable="true" type="q5:ArrayOfStudentBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LibrarySystemService" minOccurs="0" name="GetStudentBookResult" nillable="true" type="q6:StudentBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LibrarySystemService" minOccurs="0" name="uc" nillable="true" type="q7:StudentBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStudentBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateStudentBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStudentBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteStudentBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBookResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>